@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #000e2d;
  --color-secondary: #f9f8f7;
  --color-tertiary: #FBFFF159;
  --color-pinkLight: #F9F8F7;
  --color-pinkDark: #D6A39A;

  --color-gradientClass: #fbfff159;

  --font-lato: var(--font-lato);
  --font-prata: var(--font-prata);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
